
@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap'); */

/* Add this to your global CSS file (like index.css or App.css) */
::-webkit-scrollbar {
    width: 1px; /* Horizontal scrollbar height */
    height: 1px; /* Vertical scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: black; /* Your black line */
  }
  

  